

body {
    margin: 0px;
}

.card-item {
    display: flex;
    background-color: orange;
    border-radius: 15px;
}

.card-item .card-left {
    width: 50%;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #E2E2E2;
}

.card-item .card-left .card-avatar {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card-item .card-left .card-call {
    display: flex;
    justify-content: space-around;
}

.card-item .card-left .card-call .card-call-item {
    max-width: 60px;
    width: 20%;
    aspect-ratio: 1/1;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 20px;
}

.card-item .card-right {
    font-size: 18px;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.card-item .card-right .card-name {
    font-size: 36px;
    font-weight: bold;
}

.card-item .card-right .card-language {
    display: flex;
    gap: 10px;
}

.card-contact {
    display: flex;
    justify-content: space-around;
}

.card-contact-item {
    max-width: 60px;
    width: 20%;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    font-size: 20px;
}

.card-info {
    aspect-ratio: 1/1;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-list {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.search-box .search-btn {
    background-color: #fff;
    border: none;
    padding: 15px;
}
.search-box {
    margin-top: 12px;
   
}
.div-menu {
    font-size: 15px;
    display: flex;
    justify-content: space-around
}
p {
    font-weight: bold;
}
.div-menu-item {
    margin-top: 10px;
}

.center1 {
background-color: #FFD38A;
}
.center2 {
background-color: #D6E7FF;
}
.center3 {
background-color:#FFC5A0 ;
}
.center4 {
background-color: #ABE1FF;
}
.center5 {
background-color: #ADFFE6;
}
.center6 {
background-color: #A5FF96;
}

@media screen and (max-width: 720px) {
  
    .card-language {
        font-size: 14px;
        margin-right: 20px;
      }
      
    .card-list {
        margin-left: 35px;
        width: 500px;
    
    }
    .card-call {
        margin-top: 95px;
    }
   .card-call-item {
    display: flex;
    justify-content: center;
    align-items: center;
  
   }
    
    .card-contact-item {
        font-size: small;
    }
   .fa-comment {
    font-size: small;
   }
    .fa-microphone {
    font-size: small;
    }
    .fa-video {
    font-size: small;
    }
    
}

@media screen and (max-width: 360px) {
    .search-box, .search-text, .div-menu-item {
        display: none;
    }
    .card-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
    } 
    .div-menu {
        margin-right: 200px;
    }
    h1 {
        margin-left: 20px;
    }
    .card-right .card-contact {
        margin-top: 90px;
    }
}
@media screen and (min-width: 510px)  {
    .search-box, .search-text, .div-menu-item {
        display: none;
    }
   .card-list {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
   }
   .div-menu {
    margin-right: 350px;
}
h1 {
    margin-left: 10px;
}
.card-right .card-contact {
    margin-top: 90px;
}
}